<h3>View Tourist Details</h3>
<div>
    <div>
        <label><b> id: 1 </b></label> {{tourist.id}}
    </div>
    <div>
        <label><b> FirstName: Preeti  </b></label> {{tourist.FirstName}}
    </div>
    <div>
        <label><b> LastName: Mahapatra </b></label> {{tourist.LastName}}
    </div>
    <div>
        <label><b> Gender: Female </b></label> {{tourist.Gender}}
    </div>
    <div>
        <label><b> age: 20 </b></label> {{tourist.age}}
    </div>
    <div>
        <label><b> FromPlace: Berhampur </b></label> {{tourist.FromPlace}}
    </div>
    <div>
        <label><b> NumberOfDays: 6 </b></label> {{tourist.NumberOfDays}}
    </div>    
</div>