<div class="col-md-6 offset-md-3">
    <h3>Update Tourist</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>id</label>
            <input type="text" class ="form-control" placeholder = "id"
                 [(ngModel)] = "tourist.id" name = "id">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class ="form-control" placeholder = "FirstName"
                 [(ngModel)] = "tourist.FirstName" name = "FirstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class ="form-control" placeholder = "LastName"
                 [(ngModel)] = "tourist.LastName" name = "LastName">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <br><input type="radio"  placeholder="Gender"/>Male<br>
                <input type="radio"  placeholder="Gender"/>Female<br>
                
        </div>
        <div class="form-group">
            <label>age</label>
            <input type="text" class ="form-control" placeholder = "age"
                 [(ngModel)] = "tourist.age" name = "age">
        </div>
        <div class="form-group">
            <label>FromPlace</label>
            <input type="text" class ="form-control" placeholder = "FromPlace"
                 [(ngModel)] = "tourist.FromPlace" name = "FromPlace">
        </div>
        <div class="form-group">
            <label>NumberOfDays</label>
            <input type="text" class ="form-control" placeholder = "NumberOfDays"
                 [(ngModel)] = "tourist.NumberOfDays" name = "NumberOfDays">
        </div>
        <button class = "btn btn-success" type ="submit"  value="submit">Submit</button>
    </form>
    </div>