/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 0px;
    background-color: blue;
    text-align: center;
    color: white;
}
.container-fluid {
    background-color: #dee3e6;
}
.text-center {
    color: #055160;
}